<h1> <%= @store.name %></h1>
<br>
<p> Store Name: <%= @store.name %></p>
<br>
<p> Brands of shoes sold here: </p>
<ul>
  <% @store.brands.each do |brand| %>
    <li><%= brand.name %></li>
    <% end %>
</ul>
<br>

<h1>Add Brands to <%= @store.name %></h1>
<form action="/stores/<%= @store.id %>" method="post">
  <input type="hidden" name="store_id" value="<%= @store.id() %>">
  <label for="brands">Select Brands:</label>
  <select name="brand_id">
    <option value=""></option>
    <% @list_brands.each() do |brand| %>
      <option value="<%= brand.id() %>"><%= brand.name %></option>
    <% end %>
  </select>
  <button class="btn btn-default" type="submit">Add</button>
</form>
<hr>

<h1>Update This Store</h1>
<form action="/stores/<%= @store.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">New Store Name</label>
  <input type="text" name="name">
  <button type="submit" class="btn btn-success">Update Store Name</button>
</form>

<h1>Delete <%= @store.name %></h1>
<form action="/stores/<%= @store.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit">Delete this Store</button>
</form>
